<div class="main-bg">
	<div class="main-text">
	  <h1>DR. RODRIGO LEDESMA AMARO</h1>
	  <p>Faculty of Engineering, Department of Bioengineering</p>
	  <p>Imperial College Research Fellow</p>
	</div>
</div>
<div class="resume">
  Rodrigo Ledesma-Amaro is leading a research group at the interface of synthetic biology and metabolic engineering. His research lab is based in the Department of Bioengineering and the Center for Synthetic Biology and Innovation. He collaborate closely with Tom Ellis group.
</div>
<hr />
<div class="interests">
	<div class="interest">
		<h2>
			Synthetic Biology
		</h2>
		<p>
			The group is interested in using and developing new synthetic biology tools that allow us to precisely manipulate microbial cells in a reliable, predictable and standardized way. In particular, we are interested in those cutting edge techniques that permit a fine tuning of metabolic pathways.
		</p>
	</div>
	<div class="interest">
		<h2>
			Metabolic Engineering
		</h2>
		<p>
			The manipulation and optimization of microbial metabolic pathways are the keys for biotechnology and a bio-based economy. The research group is highly interested in hacking metabolism using synthetic biology tools to create new properties and enhanced behaviors in microbial cells.  The engineering strategies are not only designed to produce new high-value products or higher amount of pre-existing products but also to facilitate the downstream and upstream parts of the bioprocesses.
		</p>
	</div>
	<div class="interest">
		<h2>
			Microbial biotechnology and Microbial communities
		</h2>
		<p>
			Microorganisms are important for both industrial bioprocesses and biomedicine (i.e. gut or skin microbiota). The lab is interesting in a wide array of organisms, from yeast (S. cerevisiea and Y. lipolytica), fungus (A. gossypii) and bacteria (E. coli and Acetobacter) to complex microbial consortia (human and industrial microbiota).
		</p>
	</div>
		<div class="interest">
		<h2>
			Applications in Industrial biotechnology and biomedicine
		</h2>
		<p>
			As a summary the lab is interested in applying the engineered microorganisms using synthetic biology to the production of 1) high-value chemicals and fuels (biodiesel, lipid-derived compounds, food additives, etc) 2) biomaterials for biomedicine and environmental applications (bacterial cellulose) and 3) understanding microbiome and dysbiosis leading to diseases (skin microbiome, wound healing).
		</p>
	</div>
</div>
<div class="background-bg">
	<div class="background-content">
		<h1>
			BACKGROUND
		</h1>
		<img src="../assets/foto.jpg" />
		<p>Rodrigo Ledesma-Amaro obtained his PhD at the University of Salamanca under the supervision of Prof. Jose Luis Revuelta, the head of the metabolic engineering group. The PhD thesis is about systems metabolic engineering of A. gossypii for the production of vitamins, nucleosides and lipids. It combines modeling, synthetic biology, systems biology and metabolic engineering techniques and it produced numerous research papers and industrial patents (being currently used by BASF). Before that, Rodrigo coursed an MSc in Microbial Biotechnology at the Universidad Autonoma de Madrid and two undergraduate degrees (Biotechnology and Chemical Engineering) at the University of Salamanca. During his PhD, Rodrigo was a visiting researcher at Prof. Jens Nielsen's group at Chalmers University of Technology (Sweden), at Prof. Jean-Marc Nicaud at INRA (France) and at Prof. Kamisaka's group at AIST (Japan).

		After the PhD, he moved to France thanks to an Agreenskills Marie Curie Fellowship and he performed his postdoc in the group of Jean-Marc Nicaud. Most of his postdoctoral research work was done in the oleaginous yeast Yarrowia lipolytica. During those years, Rodrigo engineered this organism to 1) produce different compounds (lipids, lipid-derived chemicals, carotenoids, etc), 2) to be able to use low-cost carbon sources such as lignocellulosic materials or starch and 3) to facilitate the recovery of the products by engineering lipid secretion. During the postdoc, Rodrigo has been teaching synthetic biology related subjects at SUP biotech.

		In addition, he has experience in organizing international conferences and teaching courses, in editorial activities for several publishing groups and in supervising and evaluating students, projects and researchers. He also has worldwide collaborations in both academia and industry.</p>
	</div>
</div>